/*!
Theme Name: Stockathon
Theme URI: https://www.stockathon.com//
Author: NiftyTrader
Author URI: https://www.stockathon.com//
Description: The best research tool for equity investors in India
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: stockathon-blog
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

stockathon-blog is based on Underscores https://www.stockathon.com//, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

.inner-page-banner a {
  font-size: 15px;
  line-height: 31px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
}
.inner-page-banner span {
  font-size: 15px;
  line-height: 31px;
  color: #ffffff !important;
  text-decoration: none;
  font-weight: 400;
}
.header-register-btn {
  width: auto;
  height: 35px;
  border-radius: 3px;
  background-color: #00cf85 !important;
  border: 1px solid #00cf85 !important;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 15px;
  margin: 11px;
  color: #fff !important;
  font-weight: 500;
  font-family: "Roboto";
  outline: 0px !important;
  box-shadow: none !important;
}

.header-btns {
  display: flex;
}

.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 999;
}
.stockathon-nav {
  padding: 0px 20px;
  background: #fff;
}
.header-section .nav-link {
  font-size: 15px;
  letter-spacing: 0px;
  color: #334680 !important;
  font-weight: 400;
  font-family: "Roboto";
  padding: 0px 25px !important;
  transition: 0.2s all ease-in-out;
}
.header-section ul li {
  display: inline-block;
}
.header-section ul li a {
  font-size: 15px;
  letter-spacing: 0px;
  color: #334680 !important;
  font-weight: 400;
  font-family: "Roboto";
  padding: 17px 25px !important;
  transition: 0.2s all ease-in-out;
}
.navbar-nav {
  padding: 16.5px 0px;
}
.blog-categories .widget-title {
  font-size: 20px;
  color: #071e57;
  font-weight: 600;
  padding: 0px 0px 10px 0px;
}
.rpwwt-widget ul li {
  padding-left: 0px !important;
}
.rpwwt-widget ul li::before {
  display: none;
}
.blog-categories ul {
  background: #fff;
  padding: 15px !important;
  margin-bottom: 20px;
  filter: drop-shadow(0px 8px 6.5px rgba(39, 50, 68, 0.04));
}
.mobile-thumbanail {
  display: none;
}
.header-section .btn-outline-success {
  border-radius: 3px;
  background-color: #00cf85 !important;
  border: 1px solid #00cf85 !important;
  font-size: 15px;
  letter-spacing: 0px;
  color: #fff !important;
  font-weight: 500;
  font-family: "Roboto";
  outline: 0px !important;
  box-shadow: none !important;
}
.adverisement img {
  width: 100% !important;
}

.search-box .search-form {
  width: 82%;
}
.search-box .search-form label {
  width: 100%;
}
/* Sidebar */
@media (min-width: 300px) and (max-width: 993px) {
  #user_btn {
    position: fixed;
    right: 45px;
  }
  #menuClick {
    position: fixed;
    right: 15px;
    top: 10px;
    background: transparent;
    padding: 0px;
    line-height: 0px;
    color: #1a1f61;
    font-size: 25px;
    outline: none;
    border: 0px;
    display: block;
  }

  .header-section .nav-link {
    font-size: 15px;
    color: #fff !important;
    padding: 15px 15px !important;
  }
  #menuClick:focus {
    outline: none;
  }
  #mobilemenu {
    position: fixed;
    height: 100%;
    z-index: 9999999999;
    width: 250px;
    background: rgba(0, 0, 0, 0.9);
    top: 0px;
    left: -250px;
    transition: 0.5s ease-in-out;
  }

  .activeMenu {
    left: 0px !important;
    transition: 0.5s ease-in-out;
  }
  .header-section ul li a {
    font-size: 15px;
    color: #fff !important;
    padding: 15px 15px !important;
    display: block;
  }
  .header-section ul li {
    display: block;
    text-align: left;
  }
  .navbar-nav {
    margin: 0px 0px !important;
  }
  .header-section .btn-outline-success {
    font-size: 12px;
  }
  .comment-list li .reply {
    position: unset;
  }
  .comment-content {
    margin-top: 0px;
    margin-left: 0px;
  }
}
