@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
html,
body {
  height: 100%;
  width: 100%;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: "Inter", sans-serif;
}
a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
body {
  background-color: #f1f4f8 !important;
}
html {
  scroll-behavior: smooth;
}
/* Scrollbar Css */
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #071e57;
  outline: 1px solid slategrey;
  height: 0px;
}
.table-responsive::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  height: 3px;
}
.table-responsive::-webkit-scrollbar-thumb {
  background-color: #071e57;
  outline: 3px solid slategrey;
  height: 3px;
}
.table-responsive::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
/* End Scrollbar Css */

/* Banner Css */
.inner-page-banner {
  background: url(../images/inner-page-banner.jpg) no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 215px;
  padding: 57px 0px;
  margin: 0px;
}
.inner-page-banner h1 {
  font-size: 35px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 600;
}
.inner-page-banner ul li {
  display: inline-block;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  margin: 0px 6px;
}
.inner-page-banner ul li a {
  font-size: 15px;
  line-height: 31px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
/* Blog section */
.blog-section {
  padding-bottom: 60px;
}
/* Blog Heading */
.blog-heading {
  margin: 30px 0px;
}
.program-detail img {
  width: 100%;
}
.blog-detail-box {
  filter: drop-shadow(0px 8px 6.5px rgba(39, 50, 68, 0.04));
  background-color: #ffffff;
  padding: 20px 15px;
}
.blog-detail-box ul {
  margin-bottom: 15px;
}
.blog-links .blog-detail-box ul {
  margin-bottom: 0px;
}
.blog-links .detail-page-box p {
  margin: 0px !important;
}
.blog-detail-box ul li {
  list-style: none;
  display: inline-block;
  font-size: 13px;
  line-height: 23px;
  color: #405461;
  font-weight: 400;
  margin-right: 15px;
  text-transform: capitalize;
}
.blog-detail-box ul li i {
  color: #d8dde5;
  margin-right: 5px;
  font-size: 16px;
}
.blog-detail-box h5 {
  font-size: 20px;
  line-height: 26px;
  color: #071e57;
  font-weight: 600;
  margin-bottom: 10px;
}
.blog-detail-box h5 a {
  font-size: 20px;
  line-height: 26px;
  color: #071e57;
  font-weight: 600;
  margin-bottom: 10px;
  text-decoration: none;
}
.blog-detail-box p {
  font-size: 14px;
  line-height: 22px;
  color: #405461;
  font-weight: 400;
  font-family: "Inter";
}
.blog-detail-box p span {
  color: #405461 !important;
}
.readmore {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  background-color: #00cf85;
  font-size: 13px;
  color: #ffffff;
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid #00cf85;
  transition: 0.2s all ease-in-out;
  margin: 20px 0px 5px;
  text-align: center;
  line-height: 40px;
}
.readmore:hover {
  background-color: #fff;
  color: #00cf85;
}
.readmore:focus {
  outline: 0;
}
/* featured-blog */
.featured-blog-h2 {
  font-size: 22px;
  line-height: 26px;
  color: #071e57;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.blog-feature-box {
  filter: drop-shadow(0px 3px 10px rgba(0, 22, 50, 0.06));
  background-color: #ffffff;
  margin-bottom: 20px;
  width: 100%;
}

.feature-box-detail {
  padding: 20px 15px;
  /* width: 66%; */
  display: inline-block;
  vertical-align: top;
  /* max-height: 184px; */
}

.feature-box-detail ul li {
  list-style: none;
  display: inline-block;
  font-size: 12px;
  color: #405461;
  font-weight: 400;
  margin-right: 5px;
  text-transform: capitalize;
}
.feature-box-detail ul li i {
  color: #d8dde5;
  font-size: 14px;
  margin-right: 5px;
}
.feature-box-detail a {
  font-size: 18px;
  line-height: 26px;
  color: #071e57;
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
}
.feature-box-detail a:hover {
  color: #071e57;
}
.feature-box-detail p {
  font-size: 13px;
  line-height: 22px;
  color: #405461;
  font-weight: 400;
}
/* Blog links */
.blog-links {
  margin: 0px 15px;
}
.blog-links .blog-detail-box {
  padding: 0px;
}
.blog-links a {
  text-decoration: none !important;
  /* filter: drop-shadow(0px 3px 10px rgba(0, 22, 50, 0.06));
  background-color: #ffffff;
  display: block; */
}

.link-detail {
  padding: 15px;
  filter: drop-shadow(0px 3px 10px rgba(0, 22, 50, 0.06));
  background-color: #ffffff;
}
.link-detail ul {
  margin-bottom: 10px;
}
.link-detail ul li {
  list-style: none;
  display: inline-block;
  font-size: 12px;
  color: #405461;
  font-weight: 400;
  margin-right: 10px;
}
.link-detail ul li:last-child {
  margin-right: 0px;
}
.link-detail ul li i {
  color: #00cf85;
  font-size: 14px;
  margin-right: 5px;
}
.link-detail h5 {
  font-size: 15px;
  line-height: 26px;
  color: #071e57;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
}
.blog-links a:hover .link-detail h5 {
  color: #00cf85;
}
/* Blog right */
.search-box {
  position: relative;
  margin: 30px 0px 20px;
  height: 45px;
  border-radius: 3px;
  filter: drop-shadow(0px 3px 10px rgba(0, 22, 50, 0.06));
  background-color: #ffffff;
}
.search-box input {
  height: 45px;
  border: 0px;
  font-size: 13px;
  color: #405461;
  font-weight: 400;
  width: 94%;
  padding: 0px 18px;
}
.search-box input:focus {
  outline: 0;
}
.search-box .search-icon {
  font-size: 18px;
  color: #00cf85;
  position: absolute;
  right: 18px;
  top: 14px;
}
.blog-categories {
  filter: drop-shadow(0px 3px 10px rgba(0, 22, 50, 0.06));
  /* background-color: #ffffff; */
  /* padding: 18px;
  margin-bottom: 20px; */
  /* max-height: 700px;
  overflow-x: auto; */
}
.blog-categories h5 {
  font-size: 20px;
  color: #071e57;
  font-weight: 600;
}
.blog-categories h5 img {
  margin-right: 10px;
  vertical-align: text-top;
  margin-bottom: 15px;
}
.blog-categories ul li {
  list-style: none;
  margin-bottom: 8px;
  padding-left: 20px;
  position: relative;
}
.blog-categories ul li::before {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f111";
  color: #405461;
  display: inline-block;
  font-size: 6px;
  width: 1em;
  margin-right: 10px;
  vertical-align: middle;
  position: absolute;
  left: 0;
  top: 7px;
}
.blog-categories ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #405461;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.2s all ease-in-out;
}
.blog-categories ul li a:hover {
  color: #071e57;
}

.recent-posts ul li {
  padding: 10px 0px 15px;
  list-style: none;
  border-bottom: 1px solid #eeeeee;
}
.recent-posts ul li:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}
.recent-posts ul li::before {
  display: none !important;
}
.recent-posts img {
  width: 80px;
  margin-right: 10px;
}
.rpwwt-post-date {
  font-size: 13px;
  color: #405461;
  font-weight: 400;
}
.recent-blog-title {
  display: inline-block;
  vertical-align: top;
}
.recent-blog-title a {
  font-size: 15px !important;
  line-height: 20px !important;
  color: #071e57 !important;
  font-weight: 600 !important;
  text-transform: none !important;
  margin: 10px 0px !important;
  display: block !important;
}
.blog-tags {
  margin-top: 5px;
}
.blog-tags a {
  border-radius: 3px;
  margin: 5px 5px 5px 0px;
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  width: auto;
  display: inline-block;
  font-size: 12px;
  color: #405461;
  font-weight: 400;
  padding: 5px 10px;
  text-decoration: none;
}
/* Blog detail page Css */
.detail-page-box p {
  margin: 15px 0px 20px;
}
.program-detail h4 {
  font-size: 18px;
  line-height: 26px;
  color: #071e57;
  font-weight: 600;
}
.program-detail h6 {
  font-size: 14px;
  line-height: 26px;
  color: #071e57;
  font-weight: 600;
  margin-bottom: 10px;
}
.program-detail h2 {
  font-size: 14px;
  line-height: 26px;
  color: #071e57;
  font-weight: 600;
  margin-bottom: 10px;
}
.program-detail h4 {
  font-size: 14px;
  line-height: 26px;
  color: #071e57;
  font-weight: 600;
  margin-bottom: 10px;
}
.program-detail h3 {
  font-size: 14px;
  line-height: 26px;
  color: #071e57;
  font-weight: 600;
  margin-bottom: 10px;
}
.program-detail ul {
  margin-bottom: 20px;
}
.program-detail ul li {
  font-size: 14px;
  line-height: 22px;
  color: #405461;
  font-weight: 400;
  display: flex;
  margin-bottom: 10px;
}
.program-detail ul p {
  margin: 0px 0px 15px !important;
}
.program-detail ul li::before {
  content: "\f111";
  font-family: "Font Awesome 5 Pro";
  color: #00cf85;
  display: inline-block;
  font-size: 6px;
  margin-right: 10px;
  margin-top: -1px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
}
/* Blog paging */
.blog-paging a {
  margin-bottom: 30px;
}
.blog-paging a {
  filter: drop-shadow(0px 3px 10px rgba(0, 22, 50, 0.06));
  background: #ffffff;
  padding: 0px 37px;
  display: block;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  color: #071e57;
  font-weight: 600;
}
.blog-paging a:hover,
.blog-paging .active {
  background: url(../images/blog-next-bg.jpg);
  color: #fff !important;
}
.blog-paging a i {
  color: #00cf85;
}
.blog-paging a:hover i,
.blog-paging .active i {
  color: #fff;
}
.blog-paging a span {
  display: table-cell;
  position: relative;
  margin: 0px 10px;
  vertical-align: middle;
  height: 95px;
  vertical-align: middle;
}
.nav-previou {
  text-align: left;
}
.nav-previous span::before {
  position: absolute;
  left: -20px;
  top: 50%;
  color: #00cf85;
  content: "\f053";
  font-family: "Font Awesome 5 Pro";
  margin-top: -13px;
}
.nav-next {
  text-align: right;
}
.nav-next span::before {
  position: absolute;
  color: #00cf85;
  right: -20px;
  top: 50%;
  content: "\f054";
  font-family: "Font Awesome 5 Pro";
  margin-top: -13px;
}
/* Comment box */
.comment-box {
  padding: 22px 22px;
  filter: drop-shadow(0px 3px 10px rgba(0, 22, 50, 0.06));
  background-color: #ffffff;
  margin-bottom: 30px;
}
.comment-box h5 {
  font-size: 20px;
  line-height: 26px;
  color: #071e57;
  font-weight: 600;
  margin-bottom: 10px;
}
.comment-box ul li {
  list-style: none;
  padding: 10px 0px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
}
.comment-box ul li:last-child {
  border-bottom: 0px;
  padding: 10px 0px 0px !important;
  margin-bottom: 0px !important;
}
.comment-box ul li img {
  margin-right: 15px;
  width: 80px;
}
.comment-detail {
  display: inline-block;
  vertical-align: top;
  width: 85%;
}
.comment-detail a {
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: #071e57;
  font-weight: 600;
  text-decoration: none;
}
.comment-detail .reply-comment {
  border: 0px;
  margin: -10px 0px 0px;
  padding: 0px;
  font-size: 14px;
  line-height: 26px;
  color: #20a8ff;
  font-weight: 600;
  float: right;
  background-color: transparent;
}
.comment-detail .reply-comment:focus {
  outline: 0;
}
.comment-detail span {
  font-size: 13px;
  line-height: 22px;
  color: #405461;
  font-weight: 400;
}

.replyForm input {
  width: 80%;
  border: 0px;
  border-bottom: 1px solid #eee;
  border-radius: 0px;
  font-size: 13px;
  display: inline-block;
  color: #405461;
}
.replyForm input:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.replyForm button {
  border: 0px;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  color: #071e57;
  font-weight: 600;
  background-color: transparent;
}
.replyForm button:focus {
  outline: 0;
}
/* Commment Form Css */
.commment-form {
  padding: 22px 22px;
  filter: drop-shadow(0px 3px 10px rgba(0, 22, 50, 0.06));
  background-color: #ffffff;
  margin-bottom: 50px;
}

.commment-form h3 {
  font-size: 20px;
  line-height: 26px;
  color: #071e57;
  font-weight: 600;
  margin-bottom: 15px;
}

.comment-respond label {
  font-size: 13px;
  color: #405461;
  font-weight: 400;
  display: block;
  width: 100%;
}
.comment-respond input {
  height: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  font-size: 14px;
  color: #405461;
  font-weight: 400;
  padding-left: 15px;
  width: 100%;
}
.comment-respond textarea {
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #d4d4d4;
  font-size: 14px;
  color: #405461;
  font-weight: 400;
  resize: none;
  width: 100%;
  height: 96px;
  padding-left: 15px;
}
.commment-form .custom-control-input {
  height: auto !important;
}
.commment-form .custom-control-label::before,
.commment-form .custom-control-label::after {
  top: 1px;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #00cf85 !important;
  background-color: #00cf85 !important;
}
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color: #f8b048;
  border-color: #f8b048;
}
.commment-form .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none !important;
}
/* News css */
.news-section {
  margin-top: 45px;
  margin-bottom: 30px;
}
.news-box {
  filter: drop-shadow(0px 3px 10px rgba(0, 22, 50, 0.06));
  display: block;
  background-color: #ffffff;
  text-decoration: none !important;
  margin-bottom: 30px;
  min-height: 280px;
}
.news-detail-box {
  padding: 22px;
  display: block;
}
.news-detail-box h5 {
  font-size: 18px;
  line-height: 26px;
  color: #071e57;
  font-weight: 700;
  transition: 0.2s all ease-in-out;
}
.news-box:hover .news-detail-box h5 a {
  color: #00cf85;
}
.news-detail-box h5 a {
  color: #071e57;
  font-size: 18px;
  line-height: 26px;
  color: #071e57;
  font-weight: 700;
}
.news-detail-box ul {
  margin-top: 10px;
}
.news-box img {
  text-align: center;
  display: block;
  margin: 0px auto;
}
.news-detail-box ul li {
  font-size: 13px;
  color: #405461;
  font-weight: 400;
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  text-transform: capitalize;
}
.news-detail-box ul li i {
  color: #00cf85;
  font-size: 15px;
  margin-right: 5px;
}
/* Footer Css */
.footer-section {
  border-bottom: 2px solid #edf0f5;
  padding-top: 50px;
  background-color: #fafcfe !important;
  padding-bottom: 15px;
}
.footer-section h5 {
  font-size: 18px;
  line-height: 23px;
  color: #071e57;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.address ul {
  list-style-type: none;
}
.address ul li {
  font-size: 14px;
  line-height: 28px;
  color: #405461;
  font-weight: 500;
  margin-bottom: 15px;
  display: inline-flex;
}
.address i {
  color: #00cf85;
  font-size: 17px;
  margin-right: 10px;
  margin-top: 6px;
  vertical-align: middle;
}
.address .fa-phone {
  transform: rotate(90deg);
  margin: 5px 10px 5px 0px;
}
.address span {
  display: inline-block;
}
.address a {
  font-size: 14px;
  line-height: 28px;
  color: #405461;
  font-weight: 500;
  margin-bottom: 0px;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}

.quick-links ul {
  list-style-type: none;
  margin-left: 50px;
  margin-top: 10px;
}
.quick-links ul li {
  font-size: 14px;
  line-height: 28px;
  color: #405461;
  font-weight: 500;
  margin-bottom: 15px;
}
.quick-links ul li a {
  font-size: 14px;
  color: #405461;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
.quick-links ul li a:hover {
  color: #00cf85;
}
.support-links ul {
  margin-left: 0px !important;
}

.join-us {
  margin-left: 60px;
}

.join-us ul {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 25px;
}
.join-us ul li {
  display: inline-block;
  margin-right: 1px;
}
.join-us ul li a {
  border: 1px solid #405461;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  color: #405461;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
  transition: 0.2s all ease-in-out;
}
.join-us ul li a:hover {
  border-color: #00cf85;
  color: #fff;
  background-color: #00cf85;
}
.footer-app {
  margin-left: 60px;
}
.footer-app p {
  font-size: 14px;
  line-height: 23px;
  color: #405461;
  font-weight: 500;
  margin-bottom: 15px;
}
.app-store-btn {
  border: 0px !important;
  padding: 0px !important;
  background-color: transparent !important;
  margin: 5px 7px 5px 0px;
  max-width: 135px;
  display: inline-block;
}
.app-store-btn img {
  filter: drop-shadow(0px 3px 8px rgba(0, 22, 50, 0.08));
  width: 100%;
}

.app-store-btn:focus {
  outline: 0 !important;
}

.copyright-section {
  padding: 35px 0px;
}
.copyright-left p {
  font-size: 14px;
  line-height: 23px;
  color: #405461;
  font-weight: 500;
}
.copyright-left span {
  color: #20a8ff;
  text-transform: capitalize;
}

.terms {
  text-align: right;
}
.terms ul {
  list-style: none;
}
.terms ul li {
  display: inline-block;
  margin-left: 20px;
}
.terms ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #405461;
  transition: 0.3s all ease-in-out;
  font-weight: 500;
}
/* End footer css */
/* Validation css */
#commentForm .help-block {
  color: #c23030 !important;
}

.blog-feature-box img {
  /* max-width: 200px !important; */
}
.blog-feature-img {
  max-height: 155px;
  height: 100%;
  width: 100%;
}
.nav-previous {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.nav-next {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.nav-links {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
/* .blog-paging .screen-reader-text {
  display: none;
} */

.comment-respond {
  padding: 22px 22px;
  filter: drop-shadow(0px 3px 10px rgba(0, 22, 50, 0.06));
  background-color: #ffffff;
  margin-bottom: 50px;
}
.comment-respond h3 {
  font-size: 20px;
  line-height: 26px;
  color: #071e57;
  font-weight: 600;
  margin-bottom: 15px;
}
.comment-form p {
  position: relative;
}
.comment-form div.error {
  color: #94343a !important;
  font-size: 12px;
  font-weight: 400;
}

.comment-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
.comment-form-comment {
  flex: 0 0 100%;
  max-width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 1rem;
  width: 100%;
}
.comment-form-author {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 5px;
  padding-left: 5px;
}
.comment-form-email {
  flex: 0 0 50%;
  max-width: 50%;
  padding-right: 5px;
  padding-left: 5px;
}

.error:focus {
  outline-color: #94343a;
}
.comment-form-cookies-consent {
  margin-top: 5px;
  display: block;
  width: 100%;
}
.comment-form-cookies-consent input {
  width: 16px;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
}
.comment-form-cookies-consent label {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  padding: 0px;
}

.form-submit input {
  width: 161px;
  height: 42px;
  border-radius: 5px;
  background-color: #00cf85;
  font-size: 13px;
  color: #ffffff;
  padding: 5px;
  font-weight: 600;
  border: 1px solid #00cf85;
  transition: 0.2s all ease-in-out;
  margin: 5px 0px 15px;
}
.form-submit input:hover {
  color: #00cf85;
  background-color: #fff;
}
.form-submit input:focus {
  outline: 0;
}

.comment-notes {
  margin-top: -8px;
  padding-bottom: 10px;
  color: #94343a;
}
.comment-list .fn {
  font-size: 16px;
  line-height: 22px;
  color: #071e57;
  font-weight: 600;
  text-decoration: none;
  position: absolute;
  top: 10px;
  left: 95px;
  text-transform: capitalize;
}
.comment-list .fn a {
  font-size: 16px;
  line-height: 22px;
  color: #071e57;
  font-weight: 600;
  text-decoration: none;
}
.comment-content p {
  font-size: 14px;
  line-height: 22px;
  color: #405461;
  font-weight: 400;
  padding: 10px 0px;
}
.comment-metadata a {
  font-size: 13px;
  line-height: 22px;
  color: #405461;
  font-weight: 400;
}
.comment-list li {
  margin-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  display: block;
}
.children {
  margin-bottom: 15px;
  border-top: 1px solid #eeeeee;
  border-bottom: 0px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.comment-list li:last-child {
  border-bottom: 0px !important;
  margin-bottom: 0px !important;
}
.comment-list li .reply {
  position: absolute;
  right: 0px;
  top: 40px;
}
.comment-list li .reply a {
  font-size: 14px;
  line-height: 26px;
  color: #20a8ff;
  font-weight: 600;
}
#cancel-comment-reply-link {
  position: absolute;
  right: 10px;
  top: 40px;
  font-size: 14px;
  line-height: 26px;
  color: #20a8ff;
  font-weight: 600;
}
.comment-author img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.comment-metadata {
  position: absolute;
  top: 35px;
  left: 95px;
}

.says {
  position: absolute;
  top: 10px;
  right: 0px;
  visibility: hidden;
}
.comment-content {
  margin-top: -33px;
  margin-left: 95px;
  width: 80%;
  font-size: 14px;
  line-height: 22px;
  color: #405461;
  font-weight: 400;
}
.comment-list {
  margin: 0px;
  padding: 0px;
}
.comment-awaiting-moderation {
  font-size: 12px;
  margin-left: -21px;
  color: #c51717;
  position: absolute;
  bottom: -43px;
}
.cmtcount a {
  list-style: none;
  display: inline-block;
  font-size: 12px;
  color: #405461;
  font-weight: 400;
  text-transform: capitalize;
}

/* 404 */

.page-not-found {
  background-color: #ffffff !important;
  padding: 50px 0px;
  /* border-top: 1px solid #f3f5f9; */
}
.notfound {
  width: 630px;
  text-align: center;
  background: #fff;
  margin: 0px auto;
}
.notfound img {
  width: 50%;
  margin-bottom: 50px;
}
.page-not-found h1 {
  font-size: 25px;
  letter-spacing: 0px;
  color: #1c242c;
  font-weight: 500;
}
.page-not-found p {
  font-size: 16px;
  letter-spacing: 0px;
  color: #495666;
  font-weight: 400;
  margin-bottom: 25px;
}
.page-not-found a {
  padding: 0px 30px;
  line-height: 40px;
  border-radius: 3px;
  display: inline-block;
  filter: drop-shadow(0px 4px 0px rgba(0, 3, 24, 0.04)) !important;
  background: #00cf85 !important;
  border: 1px solid transparent !important;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s all ease-in-out;
}
.page-not-found a:hover {
  transition: all 0.1s ease-in-out;
  box-shadow: rgba(0, 207, 133, 0.39) 0px 0px 0px 0.2rem !important;
  border-color: #e6ecef !important;
  background-color: #fff !important;
  color: #334680 !important;
}
.page-not-found button:focus {
  outline: 0;
}
.not-found-contetnt {
  width: 100%;
  margin: 0px auto;
  text-align: center;
}

.wp-pagenavi {
  /* add this if you'd like your pagination centered:
  margin: 0 auto;
  display: table;
  */
  width: 100%;
  text-align: center;
  margin: 0 auto;
  display: table;
  padding-top: 20px;
  clear: both;
}

.wp-pagenavi a,
.wp-pagenavi span {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #334680 !important;
  color: #334680 !important;
  font-size: 0.9em;
  margin: 2px;
  padding: 4px 9px;
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
  color: #334680;
  background: #ccc;
}

.wp-pagenavi span.current {
  font-weight: 400;
}

.wp-pagenavi a:hover,
.wp-pagenavi span.current {
  border-color: #334680 !important;
  background: #fff !important;
  color: #334680 !important;
}
.wp-pagenavi a,
.wp-pagenavi span {
  padding: 3px 10px !important;
}

.blog-feature-box .img-center {
  height: 187px;
  vertical-align: middle;
  display: table-cell;
}

.recent-posts .img-center {
  height: 80px;
  vertical-align: middle;
  display: table-cell;
}
.detail-page-box .img-center {
  height: 187px;
  vertical-align: middle;
  display: table-cell;
}
.search-box .screen-reader-text {
  display: none;
}
.search-box {
  position: relative;
}
.search-box .search-submit {
  position: absolute;
  right: 4px;
  width: 91px;
  height: 38px;
  top: 4px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  border: 1px solid transparent;
  background: #00cf85;
  transition: 0.2s all ease-in-out;
}
.search-box .search-submit:hover {
  background-color: #fff;
  transition: 0.2s all ease-in-out;
  color: #00cf85;
  border: 1px solid #00cf85;
}
.searchbar .feature-box-detail {
  padding: 0px 10px !important;
}
.searchbar .blog-detail-box {
  padding: 15px !important;
}

.program-detail ol {
  margin-bottom: 20px;
  padding: 0px;
}
.program-detail ol li {
  font-size: 14px;
  line-height: 22px;
  color: #405461;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}
.program-detail ol p {
  margin: 0px 0px 15px !important;
}
.program-detail ol li::before {
  color: #00cf85;
  display: inline-block;
  font-size: 6px;
  margin-right: 10px;
  margin-top: -1px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f111";
}
.program-detail ol li span {
  font-size: 14px;
  line-height: 22px;
  color: #405461 !important;
  font-weight: 400;
}
.program-detail ul li span {
  font-size: 14px;
  line-height: 22px;
  color: #405461 !important;
  font-weight: 400;
}
.rpwwt-widget ul li {
  margin-bottom: 8px !important;
}
