.chart-range {
  ul {
    list-style: none;
    padding: 0px;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    width: max-content;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        font-size: 15px;
        letter-spacing: 0px;
        color: #334680 !important;
        font-weight: 400;
        padding: 7px 15px;
        display: block;
        transition: 0.2s all ease-in-out;
        &:hover {
          background: #ebfbf5 !important;
          color: #00cf85 !important;
        }
      }
      a.active {
        background: #ebfbf5 !important;
        color: #00cf85 !important;
      }
    }
  }
}
.volume-chart-box {
  position: relative;
  min-height: 500px;
  .e-hscroll .e-scroll-nav.e-scroll-right-nav,
  .e-hscroll .e-scroll-nav.e-scroll-left-nav {
    display: none !important;
  }
  .range-select {
    position: absolute;
    width: max-content;
    right: 28%;
    top: 29px;
    padding: 6px 10px !important;
    height: unset !important;
    z-index: 9;
  }
  .e-toolbar {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    .e-template {
      .e-dropdown-btn {
        border-radius: 0px !important;
        border: 0px !important;
        border-bottom: 1px solid transparent !important;
        padding: 7px 10px !important;
        background: transparent !important;
        transition: 0.2s all ease-in-out;
        color: #273244 !important;
        font-size: 15px !important;
        font-weight: 400 !important;
        box-shadow: none !important;
        font-family: "Roboto" !important;
        span {
          background: transparent !important;
          padding: 0px !important;
          margin: 0px !important;
          // &::before {
          //   display: inline-block !important;
          //   margin-left: 5px !important;
          //   vertical-align: middle !important;
          //   content: "" !important;
          //   border-top: 0.5em solid !important;
          //   color: #273244 !important;
          //   border-right: 0.5em solid transparent !important;
          //   border-bottom: 0 !important;
          //   border-left: 0.5em solid transparent !important;
          // }
          &::before {
            border-style: solid;
            border-width: 0.25em 0.25em 0 0;
            content: "";
            display: inline-block;
            height: 6px;
            left: 10px;
            position: relative;
            top: 0;
            transform: rotate(135deg);
            vertical-align: top;
            width: 6px;
          }
        }
        &:hover {
          color: #1652f0 !important;
          border-color: #1652f0 !important;
          span {
            &::before {
              color: #1652f0 !important;
            }
          }
        }
        &:focus {
          outline: 0px !important;
        }
      }
      .e-dropdown-btn.e-active {
        span {
          &::before {
            transform: rotate(-45deg);
          }
        }
      }

      #stockchartpane_export,
      #stockchartpane_seriesType {
        border-bottom: 1px solid #dee2e6 !important;
      }
      .e-dropdown-btn.e-active {
        background: transparent !important;
        color: #1652f0 !important;
        border-color: #1652f0 !important;
      }
    }

    .e-toolbar-items {
      background: transparent;
      .e-tbar-btn {
        border-radius: 3px;
        border: 0px !important;
        padding: 2px 10px !important;
        background: #f1f4f8 !important;
        transition: 0.2s all ease-in-out;
        span {
          background: transparent !important;
          padding: 0px !important;
          color: #273244 !important;
          font-size: 13px !important;
          font-weight: 400 !important;
          font-family: "Roboto" !important;
          margin: 0px !important;
          vertical-align: top !important;
        }
        &:focus {
          outline: 0px !important;
        }
        &:hover,
        .e-active {
          background: #00cf85 !important;
          span {
            color: #fff !important;
          }
        }
      }
      .e-active {
        background: #00cf85 !important;
        span {
          color: #fff !important;
        }
      }
    }
  }
}
