@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap";
@import "https://cdn.syncfusion.com/ej2/material.css";
@import "./userAuth.scss";
@import "./profileDetail.scss";
@import "./premium.module.scss";
@import "./chart.scss";
@import "./responsive.scss";
/* Header CSS */
/* main-section CSS */
/* Responsive Css */
/* Footer */
html {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  height: 100%;
  background-color: #f1f4f8;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  height: 100%;
  background-color: #f1f4f8;
}
#__next {
  height: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.stockathon-nav {
  padding: 0px 20px;
  background: #fff;
  .nav-link {
    font-size: 15px;
    letter-spacing: 0px;
    color: #334680 !important;
    font-weight: 400;
    font-family: "Roboto";
    padding: 17px 25px !important;
    transition: 0.2s all ease-in-out;
    &:hover {
      color: #2766ea !important;
    }
  }
}
.header-form {
  position: relative;
  margin: 0px 30px;
  width: 37%;
}
.header-search {
  width: 100%;
  .rbt {
    width: 100%;
  }
  input {
    width: 100% !important;
    height: 38px !important;
    border-radius: 4px !important;
    background-color: #f1f4f8;
    border: 1px solid rgba(223, 225, 229, 0.8) !important;
    font-size: 15px;
    color: #334680;
    font-weight: 400;
    font-family: "Roboto";
    padding-left: 50px;
    &::placeholder {
      color: #929dbc;
    }
    &:focus {
      outline: 0;
      box-shadow: none;
      border-color: rgba(223, 225, 229, 0.8) !important;
    }
  }
  .rbt-input-main {
    background-color: #f1f4f8;
  }
}
.header-search-btn {
  height: 38px !important;
  background-color: transparent !important;
  color: #1551ef !important;
  border: 0px;
  position: absolute;
  left: 16px;
  padding: 0px;
  box-shadow: none !important;
}
.navbar-brand {
  img {
    vertical-align: bottom;
  }
}
.logout {
  display: none;
}
.header-btns {
  display: flex;
}
.header-login-btn {
  width: auto;
  height: 35px;
  border-radius: 3px;
  background-color: #ffffff !important;
  border: 1px solid #e6ecef !important;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 15px;
  margin: 11px;
  color: #334680 !important;
  font-weight: 500;
  font-family: "Roboto";
  outline: 0px !important;
  box-shadow: none !important;
  &:hover {
    border-color: #00cf85 !important;
    background-color: #00cf85 !important;
    color: #fff !important;
    box-shadow: rgba(0, 207, 133, 0.39) 0px 0px 0px 0.2rem !important;
  }
}
.header-register-btn {
  width: auto;
  height: 35px;
  border-radius: 3px;
  background-color: #00cf85 !important;
  border: 1px solid #00cf85 !important;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 15px;
  margin: 11px;
  color: #fff !important;
  font-weight: 500;
  font-family: "Roboto";
  outline: 0px !important;
  box-shadow: none !important;
  &:hover {
    border-color: #00cf85 !important;
    background-color: #00cf85 !important;
    color: #fff !important;
    box-shadow: rgba(0, 207, 133, 0.39) 0px 0px 0px 0.2rem !important;
    border-color: #e6ecef !important;
    background-color: #fff !important;
    color: #334680 !important;
  }
}
.register-resp {
  display: none;
}
.navbar-toggler.x {
  border: none;
  &:focus {
    outline: none;
  }
  .icon-bar {
    &:nth-of-type(1) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 10% 10%;
      -ms-transform-origin: 10% 10%;
      transform-origin: 10% 10%;
      position: absolute;
      top: 14px;
    }
    &:nth-of-type(2) {
      opacity: 0;
      filter: alpha(opacity=0);
    }
    &:nth-of-type(3) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 10% 90%;
      -ms-transform-origin: 10% 90%;
      transform-origin: 10% 90%;
      position: absolute;
      top: 26px;
    }
    width: 22px;
    display: block;
    height: 2px;
    background-color: #1a1f61;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
}
.navbar-toggler.x.collapsed {
  .icon-bar {
    + {
      .icon-bar {
        margin-top: 4px;
      }
    }
    &:nth-of-type(1) {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
      position: unset;
    }
    &:nth-of-type(2) {
      opacity: 1;
      filter: alpha(opacity=100);
    }
    &:nth-of-type(3) {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
      position: unset;
    }
  }
}
.main-section {
  background: #1a2366 url(/images/home-bg.jpg) center center no-repeat;
  background-size: cover;
  padding: 45px 0px;
}
.homepage-logo {
  padding: 40px 0px;
  img {
    width: 360px;
  }
  p {
    font-size: 18px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    margin: 10px 0px;
  }
}
.mobile-logo {
  display: none;
}
.homepage-search {
  text-align: center;
  h1 {
    font-size: 33px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Roboto";
  }
}
.homepage-form {
  position: relative;
  width: 570px;
  margin: 30px auto;
  input {
    height: 55px;
    border-radius: 5px;
    filter: drop-shadow(0px 4px 12.5px rgba(149, 161, 178, 0.2));
    background-color: #ffffff;
    border: 1px solid rgba(230, 236, 239, 0.6);
    font-size: 16px;
    color: #9398a1;
    font-weight: 400;
    font-family: "Roboto";
    padding: 10px 20px;
    padding-right: 50px;
    &::placeholder {
      color: #9398a1;
    }
    &:hover {
      border-color: rgb(128, 189, 255);
      outline: 0px;
      box-shadow: rgba(0, 123, 255, 0.25) 0px 0px 0px 0.2rem;
    }
  }
  button {
    height: 55px !important;
    background-color: transparent !important;
    color: #1551ef !important;
    border: 0px;
    position: absolute;
    right: 22px;
    top: 0px;
    padding: 0px;
    box-shadow: none !important;
  }
}
.rbt-aux {
  .rbt-close {
    margin-top: -2px !important;
    right: 60px;
  }
}
.homepage-links {
  width: 570px;
  margin: 0px auto;
  text-align: center;
  a {
    width: auto;
    padding: 3px 15px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid transparent;
    font-size: 13px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin: 5px;
    transition: 0.2s all ease-in-out;
    &:hover {
      background-color: rgb(255, 255, 255);
      border-color: rgb(128, 189, 255);
      color: #334680 !important;
      box-shadow: rgba(0, 123, 255, 0.25) 0px 0px 0px 0.2rem;
      border-color: #fff;
    }
  }
}
.view-all-link {
  background: #00cf85 !important;
  font-weight: 500 !important;
  border-color: #00cf85 !important;
  &:hover {
    box-shadow: rgb(0 207 133 / 39%) 0px 0px 0px 0.2rem !important;
    border-color: #00cf85 !important;
    background-color: #fff !important;
    color: #334680 !important;
  }
}

.browse-companies {
  p {
    text-align: center;
    font-size: 15px;
    letter-spacing: 0px;
    color: #a3a4bf;
    font-weight: 400;
    font-family: "Roboto";
    margin: 60px 0px;
  }
}
.homepage-news {
  position: relative;
  .news-heading {
    border-radius: 3px;
    border: 1px solid #ffffff;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    padding: 6px 15px;
    position: absolute;
    z-index: 99;
  }
}
.news-slider {
  padding-left: 85px;
  marquee {
    padding: 5px;
  }
  a {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #ffffff !important;
    font-weight: 400;
    font-family: "Roboto";
    margin: 0px 15px;
    display: inline-block;
    margin-right: 20px;
    border: none !important;
    &:hover {
      color: rgb(0, 207, 133) !important;
    }
  }
}
.footer-section {
  background-color: #fff;
  padding: 50px 0px;
}
.footer-links {
  ul {
    list-style: none;
    margin: 0px 0px 20px;
    padding: 0px;
    text-align: center;
    li {
      display: inline-block;
      a {
        font-size: 15px;
        letter-spacing: 0px;
        color: #334680;
        font-weight: 400;
        font-family: "Roboto";
        text-decoration: none;
        padding: 5px 16px;
        transition: 0.2s all ease-in-out;
        &:hover {
          color: #2766ea !important;
        }
      }
    }
  }
}
.footer-copyright {
  text-align: center;
  margin: 0px auto;
  p {
    font-size: 14px;
    letter-spacing: 0px;
    color: #334680;
    font-weight: 400;
    font-family: "Roboto";
    margin: 0px auto;
    span {
      color: #1652f0;
    }
  }
}

@media (max-width: 992px) {
  .navbar-toggler {
    padding: 0.25rem 0;
  }
  .stockathon-nav {
    padding: 0px 10px;
    .nav-link {
      font-size: 15px;
      color: #fff !important;
      padding: 15px 0px !important;
    }
  }

  .header-form {
    position: relative;
    margin: 0px;
    width: 100%;
    input {
      padding-left: 34px;
    }
    .header-search-btn {
      left: 8px;
      top: 0px;
    }
  }

  .header-btns {
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    bottom: 15px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .navbar-collapse {
    position: fixed;
    bottom: 0px;
    top: 42px;
    top: 0px;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 300px;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    height: 100%;
  }
  .navbar-collapse.collapsing {
    left: -75%;
    transition: height 0s ease;
  }
  .navbar-collapse.show {
    left: 0;
    transition: left 300ms ease-in-out;
  }
  .navbar-toggler.collapsed {
    ~ {
      .navbar-collapse {
        transition: left 500ms ease-in-out;
      }
    }
  }
  .header-btns {
    display: none;
  }
  .register-resp {
    width: auto;
    height: 28px;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 15px;
    display: block;
    position: absolute;
    right: 45px;
    top: 6px;
    font-weight: 500;
    font-family: Roboto;
    background-color: rgb(0, 207, 133) !important;
    border: 1px solid rgb(0, 207, 133) !important;
    color: rgb(255, 255, 255) !important;
    outline: 0px !important;
    box-shadow: none !important;
    &:hover {
      border-color: #00cf85 !important;
      background-color: #00cf85 !important;
      color: #fff !important;
      box-shadow: rgba(0, 207, 133, 0.39) 0px 0px 0px 0.2rem !important;
      border-color: #e6ecef !important;
      background-color: #fff !important;
      color: #334680 !important;
    }
  }
  .navbar-brand img {
    width: 165px;
    vertical-align: text-top;
  }
}

@media (min-width: 993px) and (max-width: 1199px) {
  .stockathon-nav {
    .nav-link {
      padding: 17px 15px !important;
    }
  }
  .header-login-btn {
    width: auto;
    height: 35px;
  }
  .header-register-btn {
    width: auto;
    height: 35px;
  }
  .header-search-btn {
    left: 10px;
  }
  .header-search {
    input {
      padding-left: 35px;
    }
  }
  .header-form {
    margin: 0px 10px;
  }
}
.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 999;
}

.marquee-container {
  display: flex;
  justify-content: center;
}

.marquee {
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.marquee-content {
  animation-duration: 20s;
  animation-name: marquee;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  padding-top: 5px;
  width: max-content;
}

.marquee-content.inactive {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

/* syncfusion chart css */
#stockchartpane_stock_border {
  border: none !important;
}
// Terms and Privacy CSS
.terms-content {
  border-radius: 5px;
  filter: drop-shadow(0px 8px 6.5px rgba(39, 50, 68, 0.04));
  background-color: #ffffff;
  padding: 22px;
  margin: 30px 0px;
  h1 {
    color: #1c242c;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
  }
  h4 {
    color: #1c242c;
    font-weight: 500;
    font-size: 20px;
  }
  p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #273244;
    font-weight: 400;
    margin: 0px 0px 20px;
  }
  ul {
    margin: 0px 0px;
    padding: 0px;
    li {
      font-size: 14px;
      letter-spacing: 0px;
      line-height: 25px;
      color: #273244;
      font-weight: 400;
      margin: 0px 0px 10px 15px;
    }
  }
}

.expend-active td:first-child {
  color: #1652f0 !important;
  button {
    color: #1652f0 !important;
  }
}
// Loader
.loader-section {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.loader-img {
  margin: 20% auto;
  width: 8%;
}
.MuiSnackbarContent-root {
  background-color: #00cf85 !important;
}
// 404
.error-box {
  align-items: center;
  justify-content: center;
  display: block;
  margin: 60px auto;
  padding: 50px;
  width: 100%;
  height: 100%;
  max-width: 600px;
  text-align: center;
  img {
    margin-bottom: 30px;
  }
  h1 {
    font-size: 25px;
    letter-spacing: 0px;
    color: #1c242c;
    font-weight: 500;
  }
  p {
    font-size: 16px;
    letter-spacing: 0px;
    color: #495666;
    font-weight: 400;
    margin-bottom: 25px;
  }
  .back-btn {
    padding: 0px 30px;
    line-height: 40px;
    border-radius: 3px;
    display: inline-block;
    filter: drop-shadow(0px 4px 0px rgba(0, 3, 24, 0.04)) !important;
    background: #00cf85 !important;
    border: 1px solid transparent !important;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s all ease-in-out;
    &:hover {
      border-color: #00cf85 !important;
      background-color: #00cf85 !important;
      color: #fff !important;
      box-shadow: rgba(0, 207, 133, 0.39) 0px 0px 0px 0.2rem !important;
      border-color: #e6ecef !important;
      background-color: #fff !important;
      color: #334680 !important;
    }
  }
}
.fullloader {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background: #ffff;
  z-index: 9999;
  left: 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  .loader-img {
    margin: 0px auto;
    width: 115px;
    height: 115px;
  }
}

//news ticker css
.styles_icon__3ypud {
  display: none;
}

.styles_ticker__8iZE9 {
  background-color: transparent !important;
}

.styles_tickerItem__1yblE:hover {
  background-color: transparent !important;
}

.styles_newsticker__2xlP7 {
  min-width: 30% !important;
}
// Toast
.MuiSnackbar-root {
  z-index: 99999 !important;
}
// Filters Css
.filters-section {
  padding: 20px 0px 0px;
  h1 {
    font-size: 25px;
    color: #1c242c;
    font-weight: 500;
    margin-bottom: 25px;
  }
  h4 {
    font-size: 17px;
    color: #273244;
    font-weight: 500;
  }
  .saved-columns {
    ul {
      list-style: none;
      margin: 15px 0px;
      padding: 0px;
      li {
        display: inline-block;
        margin: 0px 10px 10px 0px;
        font-size: 13px;
        color: #495666;
        font-weight: 400;
        background-color: #f8f8fc;
        border-radius: 3px;
        cursor: pointer;
        border: 1px solid;
        padding: 0px 10px;
        line-height: 25px;
        border-color: rgb(230, 236, 239) !important;
        position: relative;
        .close_icon {
          display: none;
          background: #f1f5fa;
          width: 17px;
          padding: 2px;
          right: -7px;
          top: -8px;
          position: absolute;
          font-size: 11px;
          text-align: center;
          height: 17px;
          border-radius: 50%;
          border: 1px solid rgb(226, 229, 237);
        }
        .close_icon:after {
          content: "x";
          position: absolute;
          top: -5.5px;
          left: 4.5px;
          font-size: 13px;
        }
        &:hover .close_icon {
          display: block;
        }
      }
    }
  }
  .manage-columns {
    border-radius: 5px;
    // filter: drop-shadow(0px 8px 6.5px rgba(39, 50, 68, 0.04));
    background-color: #ffffff;
    // padding: 22px;
    .card-columns {
      -moz-column-count: 3;
      column-count: 3;
      -moz-column-gap: 1.25rem;
      column-gap: 1.25rem;
      orphans: 1;
      widows: 1;
      .card {
        border: 0px !important;
      }
    }
    .MuiFormControlLabel-root {
      display: flex !important;
      margin-bottom: 0px !important;
      .MuiButtonBase-root {
        padding: 6px 9px !important;
      }
      .MuiFormControlLabel-label {
        font-size: 14px;
        letter-spacing: 0px;
        color: #495666;
        font-weight: 400;
      }
      .MuiSvgIcon-root {
        width: 20px;
        height: 20px;
      }
    }
  }
  .column-btns {
    // margin-top: 15px;
    text-align: right;
    .save-button {
      width: auto;
      min-width: 100px;
      height: 40px;
      border-radius: 3px;
      font-size: 15px;
      letter-spacing: 0px;
      color: #fff;
      font-weight: 500;
      transition: all 0.2s ease-in-out 0s;
      background: rgb(0, 207, 133) !important;
      border: 1px solid transparent !important;
      &:hover {
        box-shadow: rgba(0, 207, 133, 0.39) 0px 0px 0px 0.2rem !important;
        border-color: rgb(230, 236, 239) !important;
        background-color: rgb(255, 255, 255) !important;
        color: rgb(51, 70, 128) !important;
      }
    }
    .cancel-button {
      width: auto;
      min-width: 100px;
      height: 40px;
      margin-left: 15px;
      border-radius: 3px;
      font-size: 15px;
      letter-spacing: 0px;
      color: rgb(51, 70, 128);
      font-weight: 500;
      transition: all 0.2s ease-in-out 0s;
      background: transparent !important;
      border: 1px solid rgb(230, 236, 239) !important;
      &:hover {
        box-shadow: rgba(0, 207, 133, 0.39) 0px 0px 0px 0.2rem !important;
      }
    }
  }
}
.filter-dialog {
  max-width: unset !important;
  position: fixed !important;
  width: 100% !important;
  top: 0px !important;
  left: 0px !important;
  background-color: #fff !important;
  max-height: 400px !important;
  margin: 0px !important;
  padding: 0px !important;
  max-height: 400px !important;
}
@media (min-width: 1800px) {
  .filter-dialog {
    max-height: unset !important;
  }
}
.content {
  text-align: center;

  .code-block {
    color: #777777;
    padding: 1rem;
    background: #f7f7f7;
    border-left: 5px solid cadetblue;
  }

  #header {
    height: 400px;
    padding-top: 100px;
    background: #f7f7f7;
  }

  @mixin section() {
    height: 500px;
  }

  #section_1 {
    @include section;

    background: white;
  }

  #section_2 {
    @include section;

    background: aliceblue;
    height: 700px;

    .code-block {
      width: fit-content;
    }
  }

  #section_3 {
    @include section;

    table {
      border-collapse: collapse;

      thead tr th {
        border-bottom: 4px solid cadetblue;
      }

      tbody {
        color: #777777;
      }

      th,
      td {
        padding: 0.5rem;
      }
    }
  }

  .section-content {
    padding: 5rem 5rem 5rem 5rem;
    text-align: left;
  }
}
.styles_tickerItem__1yblE:after {
  display: none !important;
}
@media (min-width: 300px) and (max-width: 767px) {
  .homepage-links {
    width: 100%;
    a {
      padding: 2px 10px;
      font-size: 11px;
      line-height: 22px;
      margin: 5px;
    }
  }
  .homepage-form {
    width: 100%;
    margin: 20px auto;
    input {
      height: 42px;
      border-radius: 3px;
      font-size: 13px;
      padding: 5px 10px;
      padding-right: 35px;
    }
    button {
      height: 42px !important;
      right: 10px;
    }
  }
  .homepage-logo {
    padding: 20px 0px;
    img {
      width: 60px;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
    }
  }
  .mobile-logo {
    display: inline-block;
  }
  .desktop-logo {
    display: none;
  }
  .rbt-aux {
    .rbt-close {
      right: 40px;
    }
  }
  .homepage-search {
    h1 {
      font-size: 27px;
    }
  }
  .browse-companies {
    p {
      font-size: 13px;
      margin: 40px 0px;
    }
  }
  .homepage-news {
    .news-heading {
      font-size: 13px;
      padding: 4px 10px;
    }
  }
  .news-slider {
    padding-left: 65px;
    a {
      font-size: 12px;
      line-height: 20px;
      margin: 0px 5px;
    }
    marquee {
      padding: 0px;
    }
  }
  .footer-section {
    padding: 25px 0px;
  }
  .footer-links {
    ul {
      margin: 0px 0px 10px;
      li {
        a {
          font-size: 13px;
          padding: 5px 10px;
        }
      }
    }
  }
  .footer-copyright {
    p {
      font-size: 12px;
      margin: 0px auto;
    }
  }
  .logout {
    display: block;
  }
  .styles_newsticker__2xlP7 {
    min-width: 81% !important;
  }

  .filters-section {
    padding: 25px 0px 0px !important;
    .manage-columns {
      padding: 15px 0px !important;
    }
    .column-btns {
      text-align: left !important;
      button {
        float: none !important;
        width: auto !important;
        min-width: unset !important;
        height: 35px !important;
        margin: 0px 0px !important;
        font-size: 12px !important;
      }
      .cancel-button {
        margin-left: 10px !important;
      }
    }
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .volume-chart-box {
    .range-select {
      right: 34%;
    }
  }
}
@media (min-width: 300px) and (max-width: 992px) {
  .volume-chart-box {
    min-height: unset !important;
    padding-top: 60px !important;
    .range-select {
      left: 30px !important;
      top: 10px !important;
    }
  }
}
