::-webkit-scrollbar {
  width: 4px;
  height: 0px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  height: 4px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #071e57;
  outline: 0px;
  height: 0px;
  border-radius: 10px;
}
.table-responsive {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f4f8;
    height: 4px;
    width: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #071e57;
    outline: 0px;
  }
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p,
span,
table,
tr,
td,
th {
  font-family: "Roboto" !important;
}
.profile-main-section {
  background-color: #f1f4f8;
}
.profile-banner-section {
  background: #1a2366 url(/images/profile-page-bg.jpg) center center no-repeat;
  background-size: cover;
  .profile-name {
    display: flex;
  }
  .stock-image {
    display: flex;
    align-items: center;
    img {
      width: 65px;
      margin-right: 15px;
    }
  }
  .banner-heading {
    h1 {
      font-size: 38px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Roboto";
      margin: 0px;
      span {
        font-size: 15px;
        letter-spacing: 0px;
        color: #babccf;
        font-weight: 400;
        font-family: "Roboto";
      }
      a {
        text-decoration: none;
        margin-left: 10px;
        svg {
          vertical-align: unset;
        }
      }
    }
    h2 {
      font-size: 30px;
      letter-spacing: 1px;
      color: #ffffff;
      font-weight: 900;
      cursor: default;
      margin: 0px;
      font-family: "Roboto";
      span {
        font-size: 18px;
        letter-spacing: 0px;
        font-weight: 700;
        font-family: "Roboto";
        margin-right: 10px;
        svg {
          font-size: 18px;
        }
      }
      span.high {
        color: #00cf85;
      }
      span.low {
        color: #e6191e !important;
      }
      b {
        font-size: 15px;
        letter-spacing: 0px;
        color: #babccf;
        font-weight: 400;
        font-family: "Roboto";
      }
    }
  }
}
.banner-btns {
  text-align: right;
  padding: 10px 0px;
  button {
    margin-left: 20px;
    svg {
      font-size: 18px;
      vertical-align: text-bottom;
      margin-right: 2px;
    }
  }
  .watchlist-btn {
    width: 175px;
    height: 40px;
    border-radius: 3px;
    filter: drop-shadow(0px 4px 0px rgba(0, 3, 24, 0.04)) !important;
    background: #00cf85 !important;
    border: 1px solid transparent !important;
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto";
    transition: 0.2s all ease-in-out;
    &:hover {
      background: #fff !important;
      color: #334680 !important;
      border-color: #e6ecef !important;
    }
  }
  .save-alert {
    width: 128px;
    height: 40px;
    border-radius: 3px;
    filter: drop-shadow(0px 4px 0px rgba(0, 3, 24, 0.04)) !important;
    background: rgba(0, 0, 0, 0.3) !important;
    border: 1px solid transparent !important;
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto";
    &:hover {
      background: #fff !important;
      color: #334680 !important;
      border-color: #e6ecef !important;
    }
  }
}
.profile-ratio {
  ul {
    list-style: none;
    margin: 10px 0px;
    padding: 0px 7px;
    li {
      display: inline-block;
      margin-right: 55px;
      margin-bottom: 10px;
      h6 {
        font-size: 15px;
        letter-spacing: 0px;
        color: #495666;
        font-weight: 400;
        font-family: "Roboto";
        margin-bottom: 5px;
      }
      span {
        font-size: 15px;
        letter-spacing: 0px;
        color: #273244;
        font-weight: 500;
        font-family: "Roboto";
      }
    }
  }
}
.profile-tabs {
  ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
    li {
      margin-right: 2px;
      display: inline-block;
      a {
        text-decoration: none !important;
        color: #babccf;
        font-weight: 400 !important;
        font-family: "Roboto" !important;
        width: auto;
        border-radius: 3px 3px 0px 0px;
        padding: 8px 22px;
        cursor: pointer;
        font-size: 14px;
        display: block;
        background: rgba(255, 255, 255, 0.1);
        transition: 0.2s all ease-in-out;
        &:hover {
          color: #1652f0;
          background: #fff;
        }
      }
    }
    li.active-tab {
      a {
        color: #1652f0;
        background: #fff;
      }
    }
  }
}
.profile-content-section {
  padding: 20px 0px;
}
.profile-detail-box {
  border-radius: 5px;
  filter: drop-shadow(0px 8px 6.5px rgba(39, 50, 68, 0.04));
  background-color: #ffffff;
  padding: 30px 22px 0px;
  margin: 15px 0px;
}
.overview-box {
  // min-height: 380px;
  max-height: 415px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #e6ecef;
  padding: 15px 10px;
  position: relative;
  margin-bottom: 30px;
  h5 {
    width: max-content;
    padding: 5px;
    background-color: #fff;
    position: absolute;
    top: -20px;
  }
  p {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #9398a1;
    font-weight: 500;
    padding: 0px 8px;
    margin: 0px;
    overflow-y: auto;
    max-height: 210px;
  }
  .overview-ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    li {
      display: inline-block;
      width: 100%;
      margin: 0px;
      a {
        display: block;
        text-decoration: none;
        font-size: 14px;
        letter-spacing: 0px;
        color: #495666;
        font-weight: 400;
        padding: 7px 15px;
        position: relative;
        transition: 0.2s all ease-in-out;
        span {
          font-size: 14px;
          color: #273244;
          font-weight: 700;
          float: right;
        }
        // &::before {
        //   content: "\2022";
        //   color: #9aa5b5 !important;
        //   font-size: 30px;
        //   position: absolute;
        //   top: -5px;
        //   left: 9px;
        // }
        &:hover {
          background-color: #ebfbf5 !important;
          color: #00cf85;
          &::before {
            color: #00cf85 !important;
          }
        }
      }
    }
    .active-row {
      background-color: #f8fafd;
    }
  }
}

.table-box {
  border-radius: 5px;
  filter: drop-shadow(0px 8px 6.5px rgba(39, 50, 68, 0.04));
  background-color: #ffffff;
  padding: 25px 22px;
  margin: 15px 0px;
  .table-heading {
    font-size: 20px;
    letter-spacing: 0px;
    color: #1c242c;
    font-weight: 500;
    font-family: "Roboto";
    font-size: 20px;
    letter-spacing: 0px;
    color: #1c242c;
    font-weight: 500;
    font-family: "Roboto";
  }
  .table-p {
    font-size: 14px;
    letter-spacing: 0px;
    color: #495666;
    font-weight: 400;
    font-family: "Roboto";
    a {
      font-size: 14px;
      letter-spacing: 0px;
      color: #225bf0;
      font-weight: 400;
      font-family: "Roboto";
      text-decoration: none;
    }
  }
  .table-button {
    padding: 0px 20px;
    height: 40px;
    border-radius: 3px;
    box-shadow: none !important;
    background-color: #00cf85 !important;
    border: 1px solid #00cf85 !important;
    font-size: 14px;
    letter-spacing: 0px;
    color: #ffffff !important;
    font-weight: 500;
    font-family: "Roboto";
    float: right;
    &:hover {
      box-shadow: rgba(0, 207, 133, 0.39) 0px 0px 0px 0.2rem !important;
      border-color: #e6ecef !important;
      background-color: #fff !important;
      color: #334680 !important;
    }
  }
  .table-view {
    display: flex;
    float: right;
    label {
      color: #273244 !important;
      font-size: 13px !important;
      font-weight: 400 !important;
      width: 110px;
      margin: 10px 15px;
    }
    select {
      border: 0px !important;
      border-bottom: 1px solid rgb(222, 226, 230) !important;
      border-radius: 0px !important;
      box-shadow: none !important;
      // padding: 7px 10px !important;
      background: transparent !important;
      transition: 0.2s all ease-in-out;
      color: #273244 !important;
      font-size: 15px !important;
      font-weight: 400 !important;
      &:focus {
        outline: 0px;
      }
    }
  }
  .table {
    margin-bottom: 0px;
    display: table;
    tr {
      cursor: default;
      transition: 0.2s all ease-in-out;
      &:hover {
        filter: drop-shadow(0 5px 5px rgba(185, 183, 200, 0.15));
        background-color: #fff;
        td:first-child,
        button {
          color: #1652f0 !important;
        }
      }
    }
    th {
      border: 0px !important;
      font-size: 13px;
      letter-spacing: 0px;
      color: #9aa5b5;
      font-weight: 400;
      text-align: right;
      font-family: "Roboto";
    }
    td {
      font-size: 14px;
      letter-spacing: 0px;
      color: #273244;
      font-weight: 400;
      font-family: "Roboto";
      border-top: 1px solid #dee2e6 !important;
      text-align: right;
      &:first-child {
        text-align: left;
      }
      button {
        background: transparent !important;
        box-shadow: none !important;
        padding: 0px !important;
        color: #273244 !important;
        border: 0px !important;
        &:after {
          content: "+";
          font-weight: 400;
        }
      }
    }
    .inner-tbody {
      filter: drop-shadow(0 5px 5px rgba(185, 183, 200, 0.15));
      background-color: #fff;
      td {
        border: 0px !important;
      }
    }
    .sum-tr {
      background: #f8f8fc;
      td {
        font-weight: 500;
      }
    }
  }
}
.cursor {
  cursor: pointer;
}
.active-tr {
  filter: drop-shadow(0 0 5px rgba(185, 183, 200, 0.15));
  background-color: #fff;
  td {
    button {
      &::after {
        content: "-" !important;
        font-weight: 600 !important;
      }
    }
    &:first-child {
      color: #1652f0 !important;
      font-weight: 500;
      button {
        color: #1652f0 !important;
      }
    }
  }
}

.peer-active-td {
  color: #1652f0 !important;
}

.sticky {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 99;
  background-color: #1c2161;
  padding-top: 5px;
  filter: drop-shadow(0px 8px 6.5px rgba(39, 50, 68, 0.04));
}
.news-box {
  padding: 15px 20px;
  .news-ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    max-height: 281px;
    overflow-y: auto;
    li {
      border-bottom: 1px solid #e6ecef;
      padding: 15px 0px;
      &:last-child {
        border: 0px;
      }
      img {
        width: 57px;
        margin-right: 14px;
        // border-radius: 5px;
      }
      a {
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 20px;
        color: #495666;
        font-weight: 400;
        text-decoration: none;
        width: 80%;
        display: inline-block;
        vertical-align: middle;
        transition: 0.2s all ease-in-out;
        span {
          font-size: 13px;
          letter-spacing: 0px;
          line-height: 20px;
          color: #9aa5b5;
          font-weight: 400;
          display: block;
          margin-top: 3px;
        }
      }
      &:hover {
        a {
          color: #1652f0;
        }
      }
    }
  }
  .events-ul {
    // max-height: 281px;
    max-height: 350px;
    overflow-y: auto;
    .event-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      // width: 32px;
      // height: 32px;
      // border-radius: 5px;
      // background-color: #eff2f6;
      vertical-align: top;
      // margin-right: 14px;
      svg {
        width: 20px;
        height: 20px;
        color: #1652f0;
        vertical-align: unset;
      }
    }
    li {
      a {
        p {
          font-size: 13px;
          line-height: 18px;
          color: #495666;
          font-weight: 400;
          margin: 5px 0px 0px;
          padding: 0px;
        }
      }
    }
  }
  .news-view-all {
    width: max-content;
    padding: 5px 30px;
    height: 35px;
    border-radius: 3px;
    background-color: #00cf85;
    display: flex;
    text-decoration: none !important;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    transition: 0.2s all ease-in-out;
    align-items: center;
    justify-content: center;
    border: 1px solid #00cf85;
    margin: 15px 0px;
    &:hover {
      background-color: #fff;
      color: rgb(51, 70, 128) !important;
      border-color: rgb(230, 236, 239) !important;
      box-shadow: rgba(0, 207, 133, 0.39) 0px 0px 0px 0.2rem !important;
    }
  }
}
.e-dropdown-popup {
  z-index: 9 !important;
}

.no-analysis {
  padding: 50px 0px;
  h2 {
    font-size: 25px;
    color: #1c242c;
    font-weight: 500;
  }
  p {
    font-size: 16px;
    letter-spacing: 0px;
    color: #495666;
    font-weight: 400;
  }
  form {
    margin: 40px 0px;
    // input {
    //   margin-bottom: 25px;
    // }
    textarea {
      resize: none;
      // margin-bottom: 20px;
    }
    button {
      width: max-content;
      padding: 5px 40px;
      height: 35px;
      border-radius: 3px;
      background: #00cf85 !important;
      display: flex;
      text-decoration: none !important;
      font-size: 15px;
      color: #ffffff;
      font-weight: 500;
      transition: 0.2s all ease-in-out;
      align-items: center;
      justify-content: center;
      border: 1px solid #00cf85 !important;
      margin: 15px 0px;
      box-shadow: none !important;
      &:hover {
        background: #fff !important;
        color: #334680 !important;
        border-color: #e6ecef !important;
        box-shadow: rgba(0, 207, 133, 0.39) 0px 0px 0px 0.2rem !important;
      }
    }
  }
}

#peers table {
  white-space: nowrap;
}
