@media (min-width: 768px) and (max-width: 992px) {
  .profile-tabs {
    ul {
      li {
        a {
          font-size: 12px;
          padding: 5px 10px;
        }
      }
    }
  }
  .profile-banner-section {
    .stock-image {
      img {
        width: 50px;
        margin-right: 15px;
      }
    }
    .banner-heading {
      h1 {
        font-size: 28px;
        span {
          font-size: 12px;
        }
      }
      h2 {
        font-size: 22px;
        span {
          font-size: 14px;
          svg {
            font-size: 13px;
          }
        }
      }
    }
  }
  .banner-btns {
    .save-alert {
      width: 110px;
      font-size: 12px;
      height: 37px;
    }
    .watchlist-btn {
      width: 140px;
      font-size: 12px;
      height: 37px;
    }
  }
  .profile-ratio {
    ul {
      li {
        h6 {
          font-size: 13px;
        }
        span {
          font-size: 13px;
        }
        margin-right: 40px;
      }
    }
  }
  .table-box {
    padding: 20px 15px;
    .table-heading {
      font-size: 18px;
    }
    .table-responsive {
      display: block !important;
    }
    .table-p {
      font-size: 13px;
      a {
        font-size: 13px;
      }
    }
    .table-button {
      font-size: 12px;
      padding: 0px 15px;
      height: 37px;
    }
    .table {
      td {
        font-size: 12px;
        white-space: nowrap;
        button {
          font-size: 12px;
          white-space: nowrap;
        }
      }
      th {
        font-size: 12px;
        white-space: nowrap;
      }
    }
  }
  .overview-box {
    margin-bottom: 20px;
    max-height: 470px;
  }
  .profile-detail-box {
    padding-bottom: 0px;
    .overview-ul {
      margin: 0px;
      li {
        width: 100%;
      }
    }
  }
  .news-box {
    margin-bottom: 30px !important;
  }
  // Chart
  .volume-chart-box {
    .e-hscroll .e-scroll-nav.e-scroll-right-nav,
    .e-hscroll .e-scroll-nav.e-scroll-left-nav {
      display: flex !important;
    }
    .e-hscroll-bar {
      overflow: hidden !important;
    }
  }
  .filters-section {
    .manage-columns {
      .card-columns {
        -moz-column-count: 2 !important;
        column-count: 2 !important;
      }
    }
  }
}
@media (min-width: 993px) and (max-width: 1199px) {
  .profile-tabs {
    ul {
      li {
        a {
          font-size: 14px;
          padding: 7px 17px;
        }
      }
    }
  }
  .profile-banner-section {
    .banner-heading {
      h1 {
        font-size: 34px;
        span {
          font-size: 14px;
        }
      }
      h2 {
        font-size: 27px;
        span {
          font-size: 16px;
          svg {
            font-size: 15px;
          }
        }
      }
    }
  }
  .banner-btns {
    .save-alert {
      width: 115px;
      font-size: 13px;
    }
    .watchlist-btn {
      width: 150px;
      font-size: 13px;
    }
  }
  .profile-ratio {
    ul {
      li {
        h6 {
          font-size: 14px;
        }
        span {
          font-size: 14px;
        }
        margin-right: 60px;
      }
    }
  }
  .table-box {
    .table-button {
      font-size: 13px;
    }
    .table {
      td {
        font-size: 13px;
      }
      th {
        font-size: 13px;
      }
    }
  }
  // .overview-box {
  //   .overview-ul {
  //     padding: 0px 10px;
  //     li {
  //       width: 100%;
  //       margin: 0px;
  //       background-color: #fff !important;
  //     }
  //   }
  // }
}

@media (min-width: 300px) and (max-width: 767px) {
  .marquee-content {
    padding-top: 0px !important;
  }
  // .profile-content-section .table-box .table {
  //   display: block !important;
  // }
  .profile-banner-section {
    .profile-name {
      display: block;
    }
    .stock-image {
      justify-content: center;
      margin-bottom: 10px;
      img {
        width: 50px;
      }
    }
    .py-4 {
      padding-bottom: 0px !important;
    }
    .banner-heading {
      h1 {
        font-size: 28px;
        line-height: 1;
        span {
          font-size: 12px;
        }
      }
      h2 {
        font-size: 19px;
        span {
          font-size: 13px;
          svg {
            font-size: 12px;
          }
        }
      }
    }
  }
  .banner-heading {
    text-align: center;
  }
  // .table-box {
  //   .table-button {
  //     position: absolute;
  //     top: -83px;
  //     right: 5px;
  //   }
  // }
  .banner-btns {
    text-align: center !important;
    button {
      width: auto !important;
      height: 35px !important;
      font-size: 12px !important;
      margin: 10px !important;
    }
  }
  .profile-ratio {
    ul {
      margin: 0px -10px;
      li {
        margin: 5px 10px !important;
        h6 {
          font-size: 13px;
          margin-bottom: 3px;
        }
        span {
          font-size: 13px;
        }
      }
    }
  }
  .profile-tabs {
    ul {
      width: max-content;
      li {
        a {
          font-size: 12px;
          padding: 5px 10px;
        }
        // .active-tab {
        //   background: rgba(255, 255, 255, 0.1) !important;
        //   color: #babccf !important;
        // }
      }
    }
  }
  .table-box {
    border-radius: 3px;
    padding: 15px 15px;
    .table {
      margin-bottom: 0px;
      // display: block !important;
      td {
        font-size: 11px;
        padding: 8px;
        white-space: nowrap;
      }
      th {
        font-size: 11px;
        padding: 8px;
        white-space: nowrap;
      }
    }
    .table-heading {
      font-size: 17px;
    }
    .table-p {
      font-size: 12px;
      a {
        font-size: 12px;
      }
    }
    .table-button {
      padding: 0px 13px;
      height: 35px;
      font-size: 12px;
      float: none;
    }
  }
  .overview-box {
    padding: 10px;
    margin: 15px 0px;
    min-height: unset;
    max-height: unset;
    p {
      font-size: 13px;
      max-height: 150px;
      font-weight: 400;
    }
    .overview-ul {
      padding: 0px;
      li {
        width: 100%;
        margin: 0;
        a {
          padding: 7px 10px;
        }
      }
      // .active-row {
      //   background-color: #fff;
      // }
    }
  }
  .news-box {
    margin-bottom: 25px;
    .news-ul {
      li {
        padding: 10px 0px;
        img {
          width: 45px;
          margin-right: 10px;
          // border-radius: 3px;
        }
        a {
          font-size: 12px;
        }
      }
    }
    .news-view-all {
      padding: 5px 15px;
      height: 30px;
      font-size: 12px;
      margin: 10px 0px;
    }
  }
  .profile-detail-box {
    padding: 25px 15px 20px;
  }
  .table-box .table-view {
    float: left;
    label {
      font-size: 12px;
      margin: 10px 5px;
      margin-left: 0px;
    }
    select {
      font-size: 13px !important;
    }
  }
  .no-analysis-section {
    .py-4 {
      padding-bottom: 1.5rem !important;
    }
  }
  .no-analysis {
    padding: 30px 0px;
    h2 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
    form {
      margin: 20px 0px;
      input,
      textarea {
        // margin-bottom: 15px;
        font-size: 13px;
      }
      button {
        margin: 0px;
        padding: 5px 20px;
        height: 30px;
        font-size: 13px;
      }
    }
  }
  .overview-box {
    h5 {
      font-size: 18px;
    }
    .overview-ul {
      li {
        a {
          font-size: 13px;
          span {
            font-size: 13px;
          }
          // &::before {
          //   font-size: 20px;
          //   top: 2px;
          //   left: 9px;
          // }
        }
      }
    }
  }
  // Chart
  .chart-range {
    float: left !important;
    ul {
      li {
        a {
          font-size: 13px;
          letter-spacing: 0px;
          color: #334680 !important;
          font-weight: 400;
          padding: 5px 10px;
          display: block;
          transition: 0.2s all ease-in-out;
        }
      }
    }
  }
  #stockchartpane_Secondary_Element_Secondary_Element {
    width: 100% !important;
    left: 0px !important;
  }
  .e-hscroll .e-scroll-nav.e-scroll-right-nav,
  .e-hscroll .e-scroll-nav.e-scroll-left-nav {
    border: 0px !important;
  }
  .e-hscroll.e-scroll-device {
    .e-scroll-nav {
      width: 42px !important;
      height: 42px !important;
      transform: none;
    }
    .e-scroll-nav.e-scroll-right-nav,
    .e-scroll-nav.e-scroll-left-nav {
      // background-color: red;
      box-shadow: none !important;
    }
    .e-nav-arrow {
      transform: none !important;
    }
    .e-nav-right-arrow,
    .e-nav-left-arrow {
      &::before {
        color: #273244;
      }
    }
  }
  // Login
  .login-box a {
    margin: 0px 5px;
  }
  .volume-chart-box {
    .e-hscroll .e-scroll-nav.e-scroll-right-nav,
    .e-hscroll .e-scroll-nav.e-scroll-left-nav {
      display: flex !important;
    }
    .e-hscroll-bar {
      overflow: hidden !important;
    }
  }
  // 404
  .error-box {
    margin: 105px auto !important;
    padding: 15px !important;
    img {
      width: 120px !important;
    }
    h1 {
      font-size: 21px !important;
    }
    p {
      font-size: 14px !important;
    }
    .back-btn {
      padding: 0px 15px !important;
      line-height: 30px !important;
      font-size: 12px !important;
    }
  }
  // Filters
  .filters-section {
    padding: 25px 0px !important;
    h1 {
      font-size: 20px !important;
      margin-bottom: 15px !important;
    }
    h4 {
      font-size: 15px !important;
    }
    .saved-columns {
      ul {
        margin: 10px 0px !important;
        li {
          margin: 0px 7px 7px 0px !important;
          font-size: 11px !important;
          padding: 0px 7px !important;
          line-height: 23px !important;
        }
      }
    }
    .manage-columns {
      border-radius: 3px !important;
      padding: 15px !important;
      .card-columns {
        -moz-column-count: 1 !important;
        column-count: 1 !important;
        .card {
          margin: 10px 0px !important;
        }
      }
      .MuiFormControlLabel-root {
        .MuiSvgIcon-root {
          width: 15px !important;
          height: 15px !important;
        }
        .MuiFormControlLabel-label {
          font-size: 12px !important;
        }
      }
      .column-btns {
        button {
          float: none !important;
          width: auto !important;
          min-width: unset !important;
          height: 35px !important;
          margin: 0px 0px !important;
          font-size: 12px !important;
        }
        .cancel-button {
          margin-left: 10px !important;
        }
      }
    }
  }
}
