/* .login-input {
  margin-bottom: 15px;
}
.login-input .MuiFormControl-root {
  min-width: 300px !important;
} */
.login-section {
  background: #f1f4f9;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box {
  position: relative;
  max-width: 350px;
  padding: 25px;
  margin: 0px auto;
  border-radius: 4px;
  border: solid 1px rgba(189, 195, 203, 0.7);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06),
    0 5px 6px 0 rgba(83, 91, 98, 0.06);
  background-color: #fff;
  h2 {
    font-size: 20px;
    line-height: 1.44;
    letter-spacing: -0.2px;
    text-align: center;
    font-family: "Roboto";
    color: #273244;
    font-weight: 500;
    margin: 0px 0px 15px;
  }
  p {
    font-size: 16px;
    color: #334680 !important;
    line-height: 1.57;
    font-family: "Roboto";
    font-weight: 400;
    margin-bottom: 30px;
  }
  a {
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 400;
    cursor: pointer;
    font-size: 15px;
    color: #273244;
    margin: 0px 10px;
    transition: 0.2s all ease-in-out;
    &:hover {
      color: #2766ea !important;
    }
  }
}
.close-login {
  position: absolute;
  top: 5px;
  right: 8px;
  margin: 0px !important;
  svg {
    font-size: 20px;
    color: #334680;
  }
}
.open-acc-box {
  // padding: 10px;
  // background-color: rgb(252, 253, 255);
  // border-radius: 22px;
  // box-shadow: rgba(226, 226, 226, 0.5) 0px 0px 4px 0px;
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 400;
  color: #334680;
  margin-top: 25px;
  a {
    font-size: 13px;
    font-family: "Roboto";
    font-weight: 400;
    color: #334680;
    margin: 0px 10px !important;
  }
}
.popup-login {
  .close {
    padding: 0px !important;
    margin: 0 !important;
    position: absolute !important;
    right: 10px !important;
    z-index: 99;
    top: 5px !important;
  }
  .login-box {
    box-shadow: none !important;
    border: 0px !important;
    max-width: 400px;
    padding: 10px;
    h2 {
      svg {
        vertical-align: -1px;
        margin-right: 4px;
        color: red;
      }
    }
  }
}
